
<div class="booyah-box">
	<div class="col-xs-4">
		<%= image_tag 'user.png' %>
	</div>

	<div class="col-xs-8">
		<h1><%= @user.email %></h1>
		<h3>Member Since: <%=@user.created_at.strftime("%B %d, %y") %></h3>
		<h4>Comments Made: <%= @user.comments.count %></h4>
		<h4>Total 5 Star Reviews: <%= @user.comments.where(rating: '5_stars').count %> </h4>
	</div>
	<div class="clear"></div>
</div>